*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    margin-top: 25px;
}
.container-1{
    /* font-size: 14px; */
    min-height: 100vh;
    margin-top: 20px;
    /* background-color: aqua; */
}
.container-2{
    width: 70%;
    height: 400px;
    margin-left: 100px;
    /* background-color: saddlebrown; */

}

.heading{
    margin-top: 50px;
    margin-bottom: 25px;
}

.overview-container{
    display: flex; 
    flex-wrap: wrap; 
    /* margin-right: 150px;  */
}

.box{
    min-height: 1px; 
    padding: 1.25rem; 
    /* flex-grow: 1; */ 
    margin-right: 2%; 
    width: 20%; 
    height: 15vh; 
    justify-items: center;  
    /* font-size: 11px; */
    border: 2px solid rgba(255, 138, 0, 0.8); 
    box-shadow: 4px 4px rgba(255, 137, 0,1); 
}

.box h1{
    margin-top: 10px; 
    margin-left: 0; 
}

.orders-table{
    width: 100%;
    margin-top: 30px;
}
table{
    width: 90%;
    border-collapse: collapse;
}

table td{
    padding: 12px 5px;
    text-align: left;
}

table th{
    padding: 12px 5px;
    text-align: left;
}

table thead{
    background-color: rgb(255, 138, 0);
}
tr:nth-child(even){
    background-color: #f2f2f2;
}
tbody tr:hover{
    border-color: #ddd;
}

.order-id{
    border: none;
    background-color: transparent;
    color: rgb(255, 138, 0);
}

.orders-table{
    
    width: 100%;
    /* max-height: 10px; */
    max-height: 300px;
    overflow-y: scroll;
    /* background-color: aquamarine; */
}

