@import url('https://fonts.googleapis.com/css2?family=Merienda&family=Montserrat&family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}
#container{
      display: inline-flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-around;
      flex-basis: 25%;
      height: 50vh;
}
.button-container{
      display: inline-flex;
      border-radius:5px;
      padding:100px;
      background-color: rgb(207, 216, 207);
      justify-content: space-around;
      border: 2px solid rgb(255, 127, 127);
      text-align: center;
      text-decoration: none;

}
.button1,.button2{
      background-color: rgb(207, 216, 207);
      border-color: rgb(207, 216, 207);
      font-size: 25px;
      font-family: 'Roboto', sans-serif;
      font-weight: 100;
}


