@import url('https://fonts.googleapis.com/css2?family=Merienda&family=Montserrat&family=Roboto:wght@300&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.hero{
    background-image: url("../images/cf.jpg");
    background-position: top;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 99vh;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}

/*Hero Header and Button Starts*/
.hero-bottom{
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    position: absolute;
    top: 50%;  
    left: 50%; 
    transform: translate(-50%, -50%);
}


 .header1{
    color: white;
    /*margin-top: 300px; */
    width: 100%;
    text-align: center;
    font-size: 60px;
    font-family: 'Merienda', cursive;
    background-image: linear-gradient(to right, rgba(237, 237, 236, 0.5) , rgba(230, 170, 95, 0.3));
}
.dismenu-btn{
    margin-top: 10px;
    border-radius: 6px;
    background-color: rgba(237, 237, 236, 0.5);
    height: 40px;
    width: 160px;
    transition: 0.3s ease-in-out; 
    border:rgba(255, 138, 0,0.5);
    border-width: 2px;
    border-style: solid;
}


.dismenu-btn:hover{
    background-color: rgba(230, 170, 95, 0.3);
    border:rgb(255, 138, 0);
    border-width: 2px;
    border-style: solid;
}
.dismenu-btn:hover a{
    letter-spacing: 2px;
}
.dismenu-btn a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
    transition: 0.3s ease-in-out; 
}

/*Hero Header and Button Ends*/

/*Navigation Bar Starts*/
.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 1);
    position: relative;
    flex-wrap: wrap;
    width: 100%;
}

.navbar{
    height: 100%;
}

.navbar ul{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}
.nav-items{
    margin: 10px;
    list-style: none;
    position: relative;
}
.nav-items a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: all 0.3s ease 0s;
}
.nav-items a:hover{
    color: rgb(255, 138, 0);
}

#order-event{
    margin-left:30px ;
}
#login-mobile{
    display: none;
}

.logo{
    margin-left: 10px;
}
.logo a{
    text-decoration: none;
    letter-spacing: 2px;
    color: white;
   font-family: 'Merienda', cursive;
   font-size: 20px;
   transition: all 0.3s ease 0s;
}

.login-btn{
    margin-right: 10px;
}
.login-btn a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: all 0.3s ease 0s;
}
.login-btn a:hover{
    color: rgb(255, 138, 0);
}
.logo a:hover{
    color: rgb(255, 138, 0);
    letter-spacing: 1px;
}

.toggle-btn{
    position: absolute;
    top: .40rem;
    right: 1%;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
 
}
.bar{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    transition: all 0.3s ease 0s;
}

/*Menu Drop Down Starts*/

#menu-drop{
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100px;
    border-radius: 0px 0px 5px 5px;
    z-index: 1;

}

.nav-items:hover #menu-drop {
    display: block;
}


#menu-drop li {
    list-style: none;
    width: 100%;
    padding: 7px 5px;
}
#menu-drop li a{
    font-size:13px ;

}

/*Menu Drop Down Ends*/


/*Outlet drop down starts*/
#outlet-drop{
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    width: 130px;
    border-radius: 0px 0px 5px 5px;
    z-index: 2;
}
#outlet-drop li{
    list-style: none;
    width: 100%;
    padding: 7px 5px;
}
#outlet-drop li a{
    font-size: 13px;
}
.nav-items:hover #outlet-drop{
    display: block;
}
/*Outlet drop down ends*/

/*Navigation Bar Ends*/


/*Media query Start*/
@media (max-width: 1050px){
    .toggle-btn{
        display: flex;
    }
    .navbar{
        width: 100%;
        display: none;
    }
    .head{
        flex-direction: column;
        align-items: flex-start;
        background: rgba(0, 0, 0, 0.8);
    }
    .navbar ul{
        width: 100%;
        flex-direction: column;
    }
    #order-event{
        margin-left: 10px;
    }
    #login-mobile{
        display: block;
    }
    .login-btn{
        display: none;
    }
    .navbar li{
        text-align: center;
    }
    .navbar ul li a {
        padding: .5rem 1rem;
    }

    .navbar.active {
        display: flex;
    }
    .bar.active{
        background-color: rgb(255, 138, 0);
        height: 20px;
        width: 3px;
        margin: 0.5%;
    }
    .toggle-btn.active{
        flex-direction: row;
    }
    .hero{
    background-image: url("../images/cf2.jpg");
    }
    /*.hero-bottom.active{
        display: none;
    }
     .hero-bottom{
        display: none;
    }*/
    

}
/*Media query End*/

@media(max-width: 630px){
    .hero-bottom .header1{
        font-size: 40px;
    }
}