table{
   
    width: 100%;
    height: 64.1vh;
  }
  
.content-table{

    position: absolute;
    width: 60%; 
    height: 100px;
    left: 20%;
    top: 220px;
     border-collapse: collapse;
     margin: 25px, 0;
    font-size: 20px;
    min-width: 500px;
     border-radius:5px 5px 0 0 ;
    overflow:hidden ; 
    box-shadow: 0 0 20px rgb(0, 0,0,0.15);
    

}
.content-table thead tr {
    background-color:  rgb(255, 138, 0);
    color: black;
    text-align: center;
    font-weight: bold;
    height: 40px;
}
.content-table tbody tr{
    text-align: center;
    
}
.content-table th .content-table tr{
    padding: 12px, 15px;
}
.content-table tbody tr{
    border-bottom: 1px solid #dddddd;
}
.content-table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}
.content-table tbody tr:last-of-type{
    border-bottom: 2px solid #df7511;
}


/* .table-selection{
    display: flex;
    padding:50px;
    margin-top: 10px;
    margin-left: 15%;
    width: 75%;
    justify-content: space-around;       
}
.table-selection a{
    background-color: #f4f4f4;
    border: 2px solid rgb(255, 127, 127);
    color: black; 
    width: 25%; 
    margin: 10px;
    text-align: center; 
    font-size: 26px;
    font-family:'Montserrat', sans-serif;
    font-weight: 600;
    text-decoration: none;   
}
#Delivery-History,#Ongoing-Deliveries{
    display: none;
    position: absolute;
    width: 30%; 
    height: 100px;
    left: 20%;
    top: 310px;
    border-collapse: collapse;
    margin: 25px, 0;
    font-size: 20px;
    min-width: 500px;
    border-radius:5px 5px 0 0 ;
    overflow:hidden ; 
    box-shadow: 0 0 20px rgb(0, 0,0,0.15);
    
} 
table {
    width: 100%;
    margin-left: 20%;
    /*height: 64.1vh;
}
table thead tr {
    background-color:  rgb(255, 138, 0);
    color: black;
    text-align: center;
    font-weight: bold;
    height: 40px;
}
table tbody tr{
    text-align: center;    
}
table th , table tr{
    padding: 12px, 15px;
}
table tbody tr{
    border-bottom: 1px solid #dddddd;
}
tr:nth-child(even){background-color: #f2f2f2;}
tr:hover {background-color: #ddd;}
table tbody tr:last-of-type{
    border-bottom: 2px solid #df7511;
}
/* th, td{
    font-family:  'Montserrat', sans-serif;
    padding: 5px;
}

th{
    border-radius: 5px;
    background-color: rgb(248, 163, 130);
    font-size: 20px;   
}
td{
    font-size: 15px;
}
td:nth-child(last){background-color: white;}
.button{
    box-shadow: transparent;
    border-radius: 0;
} 

@media(max-width:480px){
    .table-selection a{
        font-size: 13px;
        width: 50%;
        height: 100px;
        padding: 15px; 
    }
    .footer{
        padding: 0%;
    }
} */