@import url('https://fonts.googleapis.com/css2?family=Merienda&family=Montserrat&family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}
/* .available-body h2{
      background-color: blue;
      padding-top: 50px;
      text-align: center;
      font-size: 30px;
      font-family: 'Roboto', sans-serif;
      font-weight: bold;
} */
#availabile,#not-available{
      border: 2px solid rgba(255, 138, 0, 0.8);
      box-shadow: 2px 1px rgba(255, 137, 0,1);
      padding: 45px;
      margin: 15% 32%;
      width: 40%;
      height: 35vh;
      font-size: 20px;
}
.confirm-btn{
      border: 2px solid rgba(255, 138, 0, 0.8);
      box-shadow: 2px 1px rgba(255, 137, 0,1);
      width: 42%; 
      height:150px;
      top: 30px; 
      margin: 10px;
      text-align: center; 
      text-decoration: none;   
}

@media(max-width:787px){
      .available-body h2,.availability-selection a{
            font-size: 30px;
      }
      .availability-selection{
            width: 50%;
      }
}
@media(max-width:480px){
      .available-body h2,.availability-selection a{
            font-size: 19px;
      }
      .availability-selection{
            width: 100%;
            flex-direction: column;
      }
}
