@import url('https://fonts.googleapis.com/css2?family=Merienda&family=Montserrat&family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.available-body{
      align-items: center;
      margin-bottom: 10%;
}
.available-body a{
      color: black;
}
.available-body a:hover{
      color: #ff9900;
}
.available-body h2{
      padding-top: 50px;
      text-align: center;
      font-size: 30px;
      font-weight: bold;
}
.available-body #selection-box{
      border: 2px solid #ff9900;
      box-shadow: 2px 1px rgba(255, 137, 0,1);
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      align-items: center;
      margin: 5% 32%;
      padding: 30px;
      width: 40%;
      height: 25vh;
      color: black;
}
.question{
      /* flex-grow: 1; */
      margin-bottom: 20px;
      font-size: 24px;
      font-weight: bold;
}

.click-available{
      display: flex;
      flex-direction: row;
      width: 50%;
      justify-content: space-between;
      /* border: 2px solid yellow;*/
} 
/* .click-available > div{
    border-radius:  10px;
    padding :10px 15px;
    border: 2px solid rgb(255,138,0);
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.click-available > div:hover{
      background-color: rgb(255,138,0);
	color: white;
}
.click-available > div> a:hover{
      color: white
} */
/* input[type="radio"] {
    display: none;
} */
button{
	padding: 10px;
	background-color: transparent;
	transition: 0.3s ease-in-out;
    border-radius:  10px;
    border: 2px solid rgb(255,138,0);
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transition-duration: 0.4s;
    cursor: pointer;
}

button:hover{
	background-color: rgb(255,138,0);
	color: white;
}
button a{
	color: black;
	transition: 0.3s ease-in-out;
}
button:hover a{
	color: white;
}

@media(max-width:787px){
      .available-body h2,.availability-selection a{
            font-size: 30px;
      }
      .availability-selection{
            width: 50%;
      }
      .available-body #selection-box{
            width: 60%;
            margin: 5% 32% 5% 19%;
            padding: 0;
      }
      .question{
            font-size: 13px;
            margin-bottom: 0px;
      }
      .click-available{
            flex-direction: column;
      }
      .click-available > div{
            margin-bottom: 8px;
            padding: 2px;
            font-size: 13px;
      }
}
@media(max-width:480px){
      .available-body h2,.availability-selection a{
            font-size: 19px;
      }
      .availability-selection{
            width: 100%;
            flex-direction: column;
      }
}
