@import url('https://fonts.googleapis.com/css2?family=Merienda&family=Montserrat&family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.wallet-container{
    height: 80vh; 
}
.wallet-container .wallet-topic{
    display: flex;
    margin-left: 100px;
    margin-top: 30px;
    font-size: 22px;
    font-weight: bold;
}
.wallet-container .text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin: 10px 0px 10px 100px;
    width: 60%;
}
.wallet-container .text .text-fill input{
   width: 100%;
   background-color: white; 
   border: 1px solid rgb(255,138,0);
   border-radius: 10px;
   padding: 10px 20px;
   outline: none;
}
@media(max-width:700px){
    .wallet-container{
        height: 0%;
    }
}