*{
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
/*body{
    text-decoration: none;
}*/
.topnav,.left-side{
    height: 100px;
    background-color: #ffffff;
}

.topnav a:hover,.left-side a:hover{
    color:rgb(255, 138, 0);
    text-decoration: none;
}
.topnav a,.left-side a{
    position: absolute;
    width: 111px;
    height: 46.81px;
    left: 609px;
    top: 43px;
    font-family: 'Merienda', cursive;
    font-style: normal;
    font-weight: normal; 
    font-size: 36px;
    line-height: 45px;
    color: #000000;
    text-decoration: none;
}

.navigation{
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}
.fa-user,.fa-bell{
    color: rgb(0, 0, 0);
    font-size: 40px;
}

.user-with-navigation{
    position: absolute;
    width: 53px;
    height: 89px;
    left: 54px;
    top: 53px; 
}

.notifications{
    position: absolute;
    width: 100px;
    height: 89px;
    left: 1251px;
    top: 53px;

}

.notifications {
    /*font-family: 'Montserrat', sans-serif;*/
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
}