section{
	min-height: 20vh;
	font-size: 1.4rem;
	display: flex;
	justify-content: space-around;
}

#confirm-alert{
	width: 70%;
	margin: 0 auto;
}

.side-panel{
	width: 15%;
	margin: 5rem 0;
}
.side-panel h2{
	text-align: center;
	border-bottom: 3px solid rgb(255, 138, 0);
}
.side-panel ul{
	display: inline-flex;
	flex-direction: column;
	width: 100%;
	gap: 1.2rem;
	flex-wrap: wrap;
	border-bottom: 3px solid rgb(255, 138, 0);
	padding: 2rem;
}
.side-panel ul li{
	text-align:center;
	font-size: 1.6rem;
	
}
.side-panel ul li a{
	color: black;
	transition: 0.1s ease-in-out;
}


.side-panel ul li a:hover{
	font-weight: bold;
	color: rgb(255, 138, 0);
}


.burger-container{
	margin: 5rem 0;
	width: 80%;
	display: grid;
	justify-content: space-evenly;
	grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
	grid-auto-rows: minmax(150px,auto);
	grid-gap: 20px;

}

.burger-container .burger-item{
	padding: 10px;
	margin-bottom: 10px;
	/*background: red;*/
	position: relative;
	overflow: hidden;
	text-align: center;
	align-items: center;
	border-radius: 10px;
	background-color: white;
	border: 1px solid rgb(255, 138, 0);
}

.burger-container .burger-item img{
	width: 260px;
	 -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

.burger-container .burger-item span{
	font-size: 20px;
}

.burger-container .burger-item button{
	background-color: transparent;
	border-radius: 5px;
	border: 2px solid rgb(255, 138, 0);
	padding: 10px;
	transition: 0.2s ease-in-out; 
	cursor: pointer;
}

.burger-container .burger-item button a{
	font-size: 16px;
	font-weight: 600;
	text-decoration: none;
	/*padding: 20px;*/
	color: black;
	transition: 0.2s ease-in-out; 
}

.burger-container .burger-item:hover{
	border-bottom: 2px solid rgb(255, 138, 0);
}

.burger-container .burger-item button:hover{
	background-color: rgba(255, 138, 0,1);

}

.burger-container .burger-item button:hover a{
	color: white;
}

.burger-container .burger-item:hover img{
  -webkit-transform: rotate(-5deg);
     -moz-transform: rotate(-5deg);
       -o-transform: rotate(-5deg);
      -ms-transform: rotate(-5deg);
          transform: rotate(-5deg);
}

.burger-container .burger-item .add-button{
	display: ;
}

.burger-container .burger-item .close-button{
	border: 2px solid rgb(232, 61, 49);
	
}

.burger-container .burger-item .close-button:hover{
	background-color:  rgb(232, 61, 49);
}

.burger-container .no-burger{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.burger-container .no-burger span{
	font-size: 4rem;
}

/*Media queries starts*/

@media(max-width: 1155px){
	.burger-container{
		width: 100%;
	}
	h1{
		font-size: 50px;
	}
 	.burger-item img{
		height: auto;
		width: 100%;
	}
	section{
		flex-direction: column;
	}
	.side-panel{
		width: 100%;
	}
	.side-panel ul{
		flex-direction: row;
		align-items: center;
		justify-content: center;
		gap: 2rem;
		align-items: center;
	}

}

@media(max-width: 540px){
	h1{
		font-size: 20px;
	}
}

/*Media queries ends*/