@import url('https://fonts.googleapis.com/css2?family=Prociono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prociono&family=Rancho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prociono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Libre+Caslon+Text:400,700&display=swap');
body{
    padding: 0;
    margin: 0%;
    width: 100%;
    height: 100vh;
    
    
}
#middle-conten{
    width: 100%;
    height: 68vh;
    
}

.add-stock{
    position: absolute; 
    left: 42%;
    top: 150px;
    font-size: xx-large;
    font-weight: bold;
    
  }
  #submit{
    width: 100px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid rgba(255, 138, 0, 0.98);
    box-sizing: border-box;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
}
#submit:hover{
    background:rgb(134, 127, 127);
    color: rgb(255, 255, 255);
    border-color: rgb(255, 51, 0);
}
.button-add{
    position: absolute;
    right: 15%;
    top: 21vh;
}
.button-save{
    position: absolute;
    right: 15%;
    top: 60vh;
}


  .table{
    width: 100%;
    height: 64.1vh;
  }
  
.content-table{
    
  
    position: absolute;
    width: 64%; 
    height: 190px;
    left: 20%;
    top: 250px;
     border-collapse: collapse;
     margin: 25px, 0;
    font-size: 22px;
    min-width: 500px;
     border-radius:5px 5px 0 0 ;
    overflow:hidden ; 
    box-shadow: 0 0 20px rgb(0, 0,0,0.15);

}
.content-table thead tr {
    background-color:  rgb(255, 138, 0);
    color: black;
    text-align: center;
    font-weight: bold;
    height: 40px;
}
.content-table tbody tr{
    text-align: center;
    
}
.content-table th .content-table tr{
    padding: 12px, 15px;
}
.content-table tbody tr{
    border-bottom: 1px solid #dddddd;
}
.content-table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}
.content-table tbody tr:last-of-type{
    border-bottom: 2px solid #009879;
}


#add-item-list{
    display: none;
    position: absolute;
    right: 1%;
    top: 13vh;
    width: 350px;
    height: 63vh;
    background-color: rgb(158, 157, 157);
    border-radius: 20px;
    z-index: 1;
}
.add-item-list-table{

    width: 90%; 
    height: 190px;
    margin: 11px;
     border-collapse: collapse;
    font-size: 22px;
    overflow:hidden ; 

}
.add-item-list-table thead tr{
    text-align: center;
}
.add-item-list-table tbody tr{
    text-align: center;
    cursor: pointer;
}
.add-item-list-table tbody tr:hover{
    color: rgb(255, 254, 254);
    font-size: 24px;
}