@import url('https://fonts.googleapis.com/css2?family=Prociono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prociono&family=Rancho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prociono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Libre+Caslon+Text:400,700&display=swap');
body{
    padding: 0;
    margin: 0%;
    width: 100%;
    height: 100vh;
    
}
/* 
.header{
  width: 100%;
  height: 75vh;
}
 
a{
  text-decoration: none;
  color: #000000; 
 
}
.bake_it {
    position: absolute;
    left: 44%; 
    color: rgb(0, 0, 0);
    position: absolute;
    width: 160px;
    height: 47px;
    top: 20px; 
    left: 44%;
    font-family: Rancho;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 60px;
    
  }
  .herf-bake-it:hover{
    color: rgb(255, 138, 0);
    font-size:40px ;

  }
  .bell_icon{
    position: absolute;
    width: 100px;
    height: 20px;
    right: 10px;
    top: 40px;
  }
  #bell {
    font-size: 40px;
    color: rgb(0, 0, 0);
  }
  #bell:hover{
    color: rgb(250, 119, 119);
 
  }
    
  .notification_text{
    
    position: absolute;
    width: 100px;
    height: 56px;
    right: 34px;
    top: 80px;

    font-family: Prociono;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 34px;
    color: #000000

  }
  #user_logo_id{
    font-size: 60px;
    color: rgb(0, 0, 0);
  }
  #user_logo_id:hover{
      color: rgb(250, 119, 119);
  }
  .user_logo{
    position: absolute;
    width: 164px;
    height: 56px;
    left: 30px;
    top: 47px;
  }  */


  .available-materials{
    position: absolute; 
    left: 40%;
    top: 140px;
    font-size: xx-large;
    font-weight: bold;
    
  }
  .table{
   
    width: 100%;
    height: 64.1vh;
  }
  
.content-table{

    position: absolute;
    width: 60%; 
    height: 100px;
    left: 20%;
    top: 220px;
     border-collapse: collapse;
     margin: 25px, 0;
    font-size: 20px;
    min-width: 500px;
     border-radius:5px 5px 0 0 ;
    overflow:hidden ; 
    box-shadow: 0 0 20px rgb(0, 0,0,0.15);
    

}
.content-table thead tr {
    background-color:  rgb(255, 138, 0);
    color: black;
    text-align: center;
    font-weight: bold;
    height: 40px;
}
.content-table tbody tr{
    text-align: center;
    
}
.content-table th .content-table tr{
    padding: 12px, 15px;
}
.content-table tbody tr{
    border-bottom: 1px solid #dddddd;
}
.content-table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}
.content-table tbody tr:last-of-type{
    border-bottom: 2px solid #df7511;
}

.button-retrieve-save{
    position: absolute;
    right: 9%;
    top: 65vh;
    

}
#submit{
    width: 100px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid rgba(255, 138, 0, 0.98);
    box-sizing: border-box;
    border-radius: 20px;
    cursor: pointer;
    margin-right: 10px;
    font-size: 17px;
}
#submit:hover{
  background:rgb(134, 127, 127);
  color: rgb(255, 255, 255);
  border-color: rgb(255, 51, 0);
}