.danger-alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  border-radius: 10px;
  width: 80%;
  margin: 10px 100px;
}

.confirm-alert {
  padding: 20px;
  background-color: #35f076;
  color: white;
  border-radius: 10px;
  width: 80%;
  margin: 10px 100px;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.confirm-alert p,.danger-alert p{
  font-size: 16px;
}